<html>
<head>
	<link rel="icon" href="favicon.ico"  >
	<title> %%ID%% - @@%%ID%%,ukmbaMember.shortID,name@@ - UKMBA Member Page</title>
</head>
<body>
	<br><br>
	<center><img src="http://oomlout.com/UKMBA/Members/%%ID%%/UKMBA-%%ID%%-Logo-600.png" ></center>
	<br><br>
	<center><h1>%%ID%% - @@%%ID%%,ukmbaMember.shortID,name@@</h1></center><br><br>
	<center>
	<table width="50%">
	<tr>
		<td>
			Company Name: <b>@@%%ID%%,ukmbaMember.shortID,name@@ </b>
		</td>
	</tr>
	<tr>
		<td>
			Short ID: <b>@@%%ID%%,ukmbaMember.shortID,shortID@@</b>
		</td>
	</tr>
	<tr>
		<td>
			Color: <b>@@%%ID%%,ukmbaMember.shortID,colorName@@, #@@%%ID%%,ukmbaMember.shortID,color@@ <center><div style="background-color:#@@%%ID%%,ukmbaMember.shortID,color@@; width:50px; height:50px"></center>&nbsp;</div></b>
		</td>
	</tr>
	<tr>
		<td>
			Website: <b><a href="@@%%ID%%,ukmbaMember.shortID,webSite@@">@@%%ID%%,ukmbaMember.shortID,webSite@@</a></b>
		</td>
	</tr>
	
	<tr>
		<td>
			Member Since: <b>@@%%ID%%,ukmbaMember.shortID,memberSince@@</b>
		</td>
	</tr>
	</table>
	</center>
	<center>
	<br>
	<table width="50%">
	<tr>
	<td>
	<h2>About</h2>
	@@%%ID%%,ukmbaMember.shortID,about@@
	<h2>Why the UKMBA?</h2>
	@@%%ID%%,ukmbaMember.shortID,whyUkmba@@
	</tr>
	</table>
	</center>
	
	<tr>
	<td width="20%">

	</td>
	</tr>
	</table>
	<br>
	<br>
	<br>
	<center><span style="color: #000000; font: 50%/1.4 Arial, Verdana, Helvetica, Sans-Serif; font-weight: bold">.:welcome to the bottom:.</span></center>
	
	
	
</body>